.topbar {
  width: 100%;
  height: 80px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $SMALTBLUE;
}

.path {
  margin-left: 40px;

  &__item {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    color: $WHITE;

    &_weight {
      font-weight: 700;
    }
  }
}

.period {
  font-weight: 400;
  margin-right: 25px;

  &__text {
    font-size: 16px;
    color: $WHITE;
    margin-right: 20px;
  }
}

.choose {
  display: inline-block;
  background-color: $WHITE;
  border-radius: 2px;
  position: relative;

  &__icon {
    position: absolute;
    right: 20px;
    top: 10px;
  }
}

.choose-select {
  display: inline;
  border: none;
  background-color: transparent;
  font-size: 14px;
  color: $TUNDORA;
  padding: 9px 37px 10px 26px;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  cursor: pointer;

  &__item {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &:focus {
    outline: none;
  }
}