//Colors
$WHITE: #fff;
$ATHENSGRAY: #f5f5f6;
$ALABASTER: #fbfbfb;
$MERCURY: #e8e8e8;
$BLACKHAZE: #eaebec;
$DESERTSHTORM: #ededec;
$DUSTYGRAY: #949393;
$BOULDER: #777777;
$TUNDORA: #444444;
$EBONYCLAY: #253340;
$RUM: #766b91;
$KASHMIRBLUE: #486e91;
$SMALTBLUE: #4a868c;
$PICTONBLUE: #46c1fa;
$FLAMINGO: #ed553c;
$FROLY: #f16192;
$HELIOTROPE: #ea6ef5;
$CONIFER: #90d751;
